@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-afacad;
}

.hero-sec {
  background-image: url(../img/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
